<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "../mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.cmfz.dao.ManagerDao">

    <insert id="insertManager">
        insert into manager values(#{id},#{name},#{pwd},#{salt})
    </insert>

    <select id="selectManagerByName" resultType="Manager">
        select * from manager where name=#{name}
    </select>
    
    <select id="selectRoleByName" resultType="role">
        select r.* from
        manager_role mr inner join  role r
        on mr.roleId=r.roleId
        where mr.managerId=(select id from manager where name=#{name})
    </select>
    
    <select id="selectPermissionByName" resultType="permission">
        select * from permission
        where permissionId in
            (select permissionId from role_permission
                where roleId in( select roleId from manager_role
                    where managerId=(select id from manager where name=#{name})))
    </select>
    
     
</mapper>
