<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "../mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.cmfz.dao.ManagerDao">

    <insert id="insertManager">
        insert into manager values(#{id},#{name},#{pwd},#{salt})
    </insert>

    <select id="selectManager" resultType="Manager">
        select * from manager where name=#{name}
    </select>
     
</mapper>
