<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "../mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.cmfz.dao.PictureDao">

    <insert id="insertPicture">
        insert into picture values(#{pictureId},#{pictureName},#{pictureMessage},#{pictureStatus},#{pictureDate})
    </insert>

    <delete id="deletePicture">
        delete from picture where pictureId=#{pictureId}
    </delete>

    <update id="updatePicture">
        update picture set pictureMessage=#{pictureMessage},pictureStatus=#{pictureStatus} where pictureId=#{pictureId}
    </update>

    <select id="selectPictureById" resultType="picture">
        select * from picture where pictureId=#{pictureId}
    </select>

    <select id="countTotalRows" resultType="java.lang.Integer">
        select count(*) from picture
    </select>

    <select id="selectPictureByPage" resultType="picture">
        select * from picture limit #{startRows},#{singleRows}
    </select>

</mapper>